/* purgecss start ignore */
@tailwind base;

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'),
		url('/fonts/roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'),
		url('/fonts/roboto-v20-latin-500.woff') format('woff');
}

html {
	@apply font-body;
}

@tailwind components;

/* purgecss end ignore */
@tailwind utilities;
